
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
# macOS .DS_Store files
.DS_Store
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

# Custom ignores
/templates/locale/
/templates/translation/*

# But keep these specific files
!/templates/translation/languages.html.twig
!/templates/translation/page_list.html.twig
!/templates/translation/translation_center.html.twig

/templates/translator/*.html.twig