#################################
# Git
#################################
.git
.gitignore
.gitattributes
.github

#################################
# OS / macOS
#################################
.DS_Store

#################################
# IDE
#################################
.vscode
.idea
*.swp
*.swo

#################################
# Logs
#################################
*.log

#################################
# Symfony (BMS + Frontend)
#################################
eshop_bms/vendor
eshop_frontweb/vendor
eshop_bms/var
eshop_frontweb/var
eshop_bms/.phpunit.result.cache
eshop_frontweb/.phpunit.result.cache

#################################
# Node
#################################
node_modules

#################################
# Python (IMPORTANT)
#################################

# virtual env
venv/
.env
.env.*

# cache 
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest / coverage
.pytest_cache/
.coverage

#################################
# Search service specific
#################################
search_service/venv/
search_service/__pycache__/
search_service/*.pyc

#################################
# Docker dev only
#################################
docker-compose.override.yml

benchmark/esci-data/
*.parquet