# =========================
# Docker images
# =========================
GHCR_NAMESPACE=ghcr.io/tonyishero01
IMAGE_TAG=latest

# =========================
# Symfony
# =========================
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=75d2222c239930c8fc40c98ae6b88cb6d9dfacf51c5c8c0749583fc681de9d9a
PHP_UPLOAD_MAX_FILESIZE=20M
PHP_POST_MAX_SIZE=25M
PHP_MAX_FILE_UPLOADS=20

# =========================
# Database
# =========================
POSTGRES_DB=app
POSTGRES_USER=user
POSTGRES_PASSWORD=password

DATABASE_URL=postgresql://user:password@db:5432/app

PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1

# =========================
# Python API
# =========================
SEARCH_SERVICE_BASE_URL=http://search-service:8000
SEARCH_API_KEY=RsY1J2Gv3y_OfIuuLG_bTatlViwX6QHuXqdscXR9BbY
MAX_SEARCH_LIMIT=200
DEFAULT_SEARCH_LIMIT=50
PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1

# =========================
# Mail
# =========================
MAILER_DSN=smtp://<user>:<password>@<host>:<port>?encryption=tls

# =========================
# App config
# =========================
MAX_ARTICLES_COUNT_PER_PAGE=10
NAME_MAX_LENGTH=32
CONTENT_MAX_LENGTH=1024

# =========================
# CORS / URLs
# =========================
CORS_ALLOW_ORIGIN=^https?://(localhost|127\\.0\\.0\\.1)(:[0-9]+)?$
BMS_URL=http://localhost:8083/

# =========================
# Symfony Lock
# =========================
LOCK_DSN=flock