{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Nejste přihlášeni</title>
    </head>
    <body>Nejste přihlášeni. Prosím<a href="{{ localized_path('app_login') }}">Přihlasit se</a>
    </body>
</html>
{% endblock %}