{# templates/product_edit.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Employee Registration</title>
    <link rel="stylesheet" href="{{ asset('../assets/styles/app.css') }}">
</head>
<body>
    <h1>Employee Registration</h1>
    
    <form action="#"  enctype="multipart/form-data">
        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" required><br>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required><br>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required><br>
        <label for="phone_number">Phone Number</label>
        <input type="text" id="phone_number" name="phone_number" required><br>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required><br>
        <fieldset>
            <legend>Choose Employee's Positions</legend>
            <div>
                <input type="checkbox" id="administrator" name="position" value="administrator" />
                <label for="administrator">Administrator</label>
            </div>
            <div>
                <input type="checkbox" id="warehouseman" name="position" value="warehouseman" />
                <label for="warehouseman">Warehouseman</label>
            </div>
            <div>
                <input type="checkbox" id="warehouse_manager" name="position" value="warehouse_manager" />
                <label for="warehouse_manager">warehouse Manager</label>
            </div>
            <div>
                <input type="checkbox" id="translator" name="position" value="translator" />
                <label for="translator">Translator</label>
            </div>
            <div>
                <input type="checkbox" id="event_manager" name="position" value="event_manager" />
                <label for="event_manager">Event Manager</label>
            </div>
            <div>
                <input type="checkbox" id="accounting" name="position" value="accounting" />
                <label for="accounting">Accounting</label>
            </div>
        </fieldset>


        <div class="buttons">
        <button type="button" id="registerButton" onclick="register_()">Register</button>
        <button type="button" id="cancelButton" onclick="cancel_()">Cancel</button>
        
    </form>
    <script src="{{ asset('../assets/registerEmployee.js') }}"></script>
    </div>
</body>
</html>
