<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Register Successfull</title>
        <link rel="stylesheet" href="{{ asset('assets/style/app.css') }}">
    </head>
    <body>
        <h1>Register Successfull!!!</h1>
        <button onclick="backToRegisterPage()">Done</button>
    </body>
</html>