{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Translate: Employee List</title>
  <style>
    body { font-family: sans-serif; padding: 2em; }
    h1 { font-size: 1.5em; margin-bottom: 1em; }
    h2 { font-size: 1.2em; margin-top: 2em; color: #444; }
    .field-group { margin-bottom: 1em; }
    label { display: block; font-weight: bold; margin-bottom: 0.2em; }
    input[type="text"] { width: 100%; padding: 0.5em; }
    button { margin-top: 2em; padding: 0.6em 1.2em; font-size: 1em; cursor: pointer; }
  </style>
</head>
<body>

  <form id="translationForm" method="post" action="/translation/submit">
    <h1>Translate: Employee List</h1>
    <input type="hidden" name="original_path" value="templates/admin/employee_list.html.twig">
    <input type="hidden" name="target_language" value="{{ lang|default('CZ') }}">

    <div class="field-group">
      <label>Employee List Title</label>
      <input type="text" name="field__employee_list_title" placeholder="Employee List">
      <input type="hidden" name="original__employee_list_title" value="Employee List">
    </div>

    <div class="field-group">
      <label>Logout</label>
      <input type="text" name="field__logout" placeholder="Logout">
      <input type="hidden" name="original__logout" value="Logout">
    </div>

    <div class="field-group">
      <label>Login</label>
      <input type="text" name="field__login" placeholder="Login">
      <input type="hidden" name="original__login" value="Login">
    </div>

    <div class="field-group">
      <label>Add Employee</label>
      <input type="text" name="field__add_employee" placeholder="Add Employee">
      <input type="hidden" name="original__add_employee" value="Add Employee">
    </div>

    <div class="field-group">
      <label>Search employee</label>
      <input type="text" name="field__search_employee" placeholder="Search employee">
      <input type="hidden" name="original__search_employee" value="Search employee">
    </div>

    <div class="field-group">
      <label>Name</label>
      <input type="text" name="field__employee_name" placeholder="Name">
      <input type="hidden" name="original__employee_name" value="Name">
    </div>

    <div class="field-group">
      <label>Surname</label>
      <input type="text" name="field__employee_surname" placeholder="Surname">
      <input type="hidden" name="original__employee_surname" value="Surname">
    </div>

    <div class="field-group">
      <label>Edit</label>
      <input type="text" name="field__edit_button" placeholder="Edit">
      <input type="hidden" name="original__edit_button" value="Edit">
    </div>

    <div class="field-group">
      <label>Delete</label>
      <input type="text" name="field__delete_button" placeholder="Delete">
      <input type="hidden" name="original__delete_button" value="Delete">
    </div>

    <div class="field-group">
      <label>Previous</label>
      <input type="text" name="field__previous_page" placeholder="Previous">
      <input type="hidden" name="original__previous_page" value="Previous">
    </div>

    <div class="field-group">
      <label>Next</label>
      <input type="text" name="field__next_page" placeholder="Next">
      <input type="hidden" name="original__next_page" value="Next">
    </div>

    <div class="field-group">
      <label>Page Count</label>
      <input type="text" name="field__page_count" placeholder="Page Count">
      <input type="hidden" name="original__page_count" value="Page Count">
    </div>

    <button type="submit">Generate Translated File</button>
  </form>

</body>
</html>
{% endblock %}