{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Translation - Admin List</title>
  <style>
    body { font-family: sans-serif; padding: 2em; }
    h1 { font-size: 24px; margin-bottom: 1em; }
    .field-group { margin-bottom: 1.2em; }
    label { display: block; font-weight: bold; margin-bottom: 0.3em; }
    input[type="text"] {
      width: 100%;
      padding: 0.5em;
      margin-bottom: 0.3em;
    }
    button {
      padding: 0.6em 1.4em;
      font-size: 1em;
      cursor: pointer;
      margin-top: 1.5em;
    }
  </style>
</head>
<body>

  <form id="translationForm" method="post" action="/translation/submit">
    <h1>Admin List Page</h1>
    <input type="hidden" name="original_path" value="templates/super_admin/admin_list.html.twig">
    <input type="hidden" name="target_language" value="{{ lang }}">

    <div class="field-group">
      <label>Admin List</label>
      <input type="text" name="field__admin_list_title" placeholder="Admin List">
      <input type="hidden" name="original__admin_list_title" value="Admin List">
    </div>

    <div class="field-group">
      <label>Add Administrator</label>
      <input type="text" name="field__add_admin_button" placeholder="Add Administrator">
      <input type="hidden" name="original__add_admin_button" value="Add Administrator">
    </div>

    <div class="field-group">
      <label>Logout</label>
      <input type="text" name="field__logout_text" placeholder="Logout">
      <input type="hidden" name="original__logout_text" value="Logout">
    </div>

    <div class="field-group">
      <label>Login</label>
      <input type="text" name="field__login_text" placeholder="Login">
      <input type="hidden" name="original__login_text" value="Login">
    </div>

    <div class="field-group">
      <label>Name</label>
      <input type="text" name="field__column_name" placeholder="Name">
      <input type="hidden" name="original__column_name" value="Name">
    </div>

    <div class="field-group">
      <label>Surname</label>
      <input type="text" name="field__column_surname" placeholder="Surname">
      <input type="hidden" name="original__column_surname" value="Surname">
    </div>

    <div class="field-group">
      <label>Edit</label>
      <input type="text" name="field__edit_button" placeholder="Edit">
      <input type="hidden" name="original__edit_button" value="Edit">
    </div>

    <div class="field-group">
      <label>Delete</label>
      <input type="text" name="field__delete_button" placeholder="Delete">
      <input type="hidden" name="original__delete_button" value="Delete">
    </div>

    <div class="field-group">
      <label>Previous</label>
      <input type="text" name="field__previous_button" placeholder="Previous">
      <input type="hidden" name="original__previous_button" value="Previous">
    </div>

    <div class="field-group">
      <label>Next</label>
      <input type="text" name="field__next_button" placeholder="Next">
      <input type="hidden" name="original__next_button" value="Next">
    </div>

    <div class="field-group">
      <label>Page Count</label>
      <input type="text" name="field__page_count" placeholder="Page Count">
      <input type="hidden" name="original__page_count" value="Page Count">
    </div>

    <button type="submit">Generate Translated File</button>
  </form>
</body>
</html>
{% endblock %}