fastapi==0.136.1
numpy==2.4.4
psycopg2-binary==2.9.12
pydantic==2.13.3
pydantic_core==2.46.3
python-dotenv==1.2.2
scikit-learn==1.8.0
uvicorn==0.46.0
sentence-transformers==5.1.1
torch==2.8.0
transformers==4.56.2