textarea {
    width: 100%;
    font-size: 30px;
}
input {
    width: 100%;
    font-size: 30px;
    height: 35px;
}
input[type="checkbox"] {
    width: 5%;
}
#search {
    width: 20%;
    font-size: 30px;
    height: 25px;
    position: absolute;
    top: 10px; /* 距离顶部的距离 */
    right: 10px; /* 距离右侧的距离 */
    padding: 10px;
}
body {
    padding: 0cm 1cm;
    font-size: 30px;
}
.buttons {
    text-align: center;
}
table {
    border-style: solid none;
    width: 100%;
}
td.article-name {
    width: 100%;
}
td.button {
    padding-left: 1cm;
}
#pageCount {
    font-size: 20px;
}
.show-button {
    color: deepskyblue;
}
.edit-button {
    color: deepskyblue;
}
.delete-button {
    color: red;
    padding-left: 1cm;
}
#editButton {
    background-color: dodgerblue;
}
#saveButton {
    background-color: greenyellow;
}
#backButton {
    background-color: red;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.sidebar {
    width: 350px; /* 你可以根据需要调整宽度 */
    height: 100%; /* 使侧边栏占据整个页面高度 */
    position: fixed; /* 使其固定在页面左侧 */
    top: 0;
    left: 0;
    background-color: #e0e0e0; /* 灰色背景色 */
    padding: 20px; /* 内部间距 */
    box-sizing: border-box; /* 包括内边距在宽度计算中 */
}

.content {
    margin-left: 370px; /* 适配左侧导航栏的宽度 */
    padding: 20px;
}