{% extends 'base.html.twig' %}

{% block title %}Translate – Auto Generated{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('../assets/styles/translation_form.css') }}">

<form method="post" action="{{ path('translation_submit') }}">
    <input type="hidden" name="_token" value="{{ csrf_token('translation_submit') }}">
    <input type="hidden" name="original_path" value="product/results.html.twig">
    <input type="hidden" name="target_language" value="{{ lang }}">

<div class="field-group">
    <label>Products List</label>
    <input type="hidden" name="original__auto_products_list_0" value="Products List">
    <input type="text" name="field__auto_products_list_0" placeholder="Products List">
</div>
<div class="field-group">
    <label>Product List</label>
    <input type="hidden" name="original__auto_product_list_1" value="Product List">
    <input type="text" name="field__auto_product_list_1" placeholder="Product List">
</div>
<div class="field-group">
    <label>Previous</label>
    <input type="hidden" name="original__auto_previous_3" value="Previous">
    <input type="text" name="field__auto_previous_3" placeholder="Previous">
</div>
<div class="field-group">
    <label>Next</label>
    <input type="hidden" name="original__auto_next_4" value="Next">
    <input type="text" name="field__auto_next_4" placeholder="Next">
</div>
<div class="field-group">
    <label>Page Count</label>
    <input type="hidden" name="original__auto_page_count_5" value="Page Count">
    <input type="text" name="field__auto_page_count_5" placeholder="Page Count">
</div>


    <button type="submit">Generate Translated File</button>
</form>
{% endblock %}