{% extends 'base.html.twig' %}

{% block title %}Translate – Auto Generated{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('../assets/styles/translation_form.css') }}">

<form method="post" action="{{ path('frontweb_translation_submit') }}">
    <input type="hidden" name="_token" value="{{ csrf_token('frontweb_translation_submit') }}">
    <input type="hidden" name="original_path" value="eshop_product/index.html.twig">
    <input type="hidden" name="target_language" value="{{ lang }}">

<div class="field-group">
    <label>-</label>
    <input type="hidden" name="original__auto___0" value="-">
    <input type="text" name="field__auto___0" placeholder="-">
</div>
<div class="field-group">
    <label>%</label>
    <input type="hidden" name="original__auto___1" value="%">
    <input type="text" name="field__auto___1" placeholder="%">
</div>
<div class="field-group">
    <label>#</label>
    <input type="hidden" name="original__auto___2" value="#">
    <input type="text" name="field__auto___2" placeholder="#">
</div>
<div class="field-group">
    <label>Save</label>
    <input type="hidden" name="original__auto_save_5" value="Save">
    <input type="text" name="field__auto_save_5" placeholder="Save">
</div>
<div class="field-group">
    <label>%</label>
    <input type="hidden" name="original__auto___6" value="%">
    <input type="text" name="field__auto___6" placeholder="%">
</div>
<div class="field-group">
    <label>VAT</label>
    <input type="hidden" name="original__auto_vat_7" value="VAT">
    <input type="text" name="field__auto_vat_7" placeholder="VAT">
</div>
<div class="field-group">
    <label>%</label>
    <input type="hidden" name="original__auto___8" value="%">
    <input type="text" name="field__auto___8" placeholder="%">
</div>
<div class="field-group">
    <label>cm</label>
    <input type="hidden" name="original__auto_cm_10" value="cm">
    <input type="text" name="field__auto_cm_10" placeholder="cm">
</div>
<div class="field-group">
    <label>cm</label>
    <input type="hidden" name="original__auto_cm_11" value="cm">
    <input type="text" name="field__auto_cm_11" placeholder="cm">
</div>
<div class="field-group">
    <label>cm</label>
    <input type="hidden" name="original__auto_cm_12" value="cm">
    <input type="text" name="field__auto_cm_12" placeholder="cm">
</div>
<div class="field-group">
    <label>kg</label>
    <input type="hidden" name="original__auto_kg_13" value="kg">
    <input type="text" name="field__auto_kg_13" placeholder="kg">
</div>
<div class="field-group">
    <label>%</label>
    <input type="hidden" name="original__auto___14" value="%">
    <input type="text" name="field__auto___14" placeholder="%">
</div>
<div class="field-group">
    <label>Original</label>
    <input type="hidden" name="original__auto_original_24" value="Original">
    <input type="text" name="field__auto_original_24" placeholder="Original">
</div>
<div class="field-group">
    <label>Now</label>
    <input type="hidden" name="original__auto_now_26" value="Now">
    <input type="text" name="field__auto_now_26" placeholder="Now">
</div>
<div class="field-group">
    <label>Price</label>
    <input type="hidden" name="original__auto_price_32" value="Price">
    <input type="text" name="field__auto_price_32" placeholder="Price">
</div>
<div class="field-group">
    <label>Quantity</label>
    <input type="hidden" name="original__auto_quantity_34" value="Quantity">
    <input type="text" name="field__auto_quantity_34" placeholder="Quantity">
</div>
<div class="field-group">
    <label>1</label>
    <input type="hidden" name="original__auto_1_35" value="1">
    <input type="text" name="field__auto_1_35" placeholder="1">
</div>
<div class="field-group">
    <label>+</label>
    <input type="hidden" name="original__auto___36" value="+">
    <input type="text" name="field__auto___36" placeholder="+">
</div>
<div class="field-group">
    <label>ADD TO CART</label>
    <input type="hidden" name="original__auto_add_to_cart_37" value="ADD TO CART">
    <input type="text" name="field__auto_add_to_cart_37" placeholder="ADD TO CART">
</div>
<div class="field-group">
    <label>Vyzvednutí na prodejně</label>
    <input type="hidden" name="original__auto_vyzvednut_na_prodejn__38" value="Vyzvednutí na prodejně">
    <input type="text" name="field__auto_vyzvednut_na_prodejn__38" placeholder="Vyzvednutí na prodejně">
</div>
<div class="field-group">
    <label>Vyzvednutí je k dispozici v lokalitě Osobní odběr na prodejně. Obvykle připraveno za 24 hodin.</label>
    <input type="hidden" name="original__auto_vyzvednut_je_k_dispozici_v_l_39" value="Vyzvednutí je k dispozici v lokalitě Osobní odběr na prodejně. Obvykle připraveno za 24 hodin.">
    <input type="text" name="field__auto_vyzvednut_je_k_dispozici_v_l_39" placeholder="Vyzvednutí je k dispozici v lokalitě Osobní odběr na prodejně. Obvykle připraveno za 24 hodin.">
</div>
<div class="field-group">
    <label>Doprava zdarma</label>
    <input type="hidden" name="original__auto_doprava_zdarma_40" value="Doprava zdarma">
    <input type="text" name="field__auto_doprava_zdarma_40" placeholder="Doprava zdarma">
</div>
<div class="field-group">
    <label>Standardní doprava zdarma při objednávce nad 1000 Kč.</label>
    <input type="hidden" name="original__auto_standardn_doprava_zdarma_p__41" value="Standardní doprava zdarma při objednávce nad 1000 Kč.">
    <input type="text" name="field__auto_standardn_doprava_zdarma_p__41" placeholder="Standardní doprava zdarma při objednávce nad 1000 Kč.">
</div>
<div class="field-group">
    <label>Vrácení zdarma</label>
    <input type="hidden" name="original__auto_vr_cen_zdarma_42" value="Vrácení zdarma">
    <input type="text" name="field__auto_vr_cen_zdarma_42" placeholder="Vrácení zdarma">
</div>
<div class="field-group">
    <label>Možnost vrácení zboží bez poplatku.</label>
    <input type="hidden" name="original__auto_mo_nost_vr_cen_zbo_bez_43" value="Možnost vrácení zboží bez poplatku.">
    <input type="text" name="field__auto_mo_nost_vr_cen_zbo_bez_43" placeholder="Možnost vrácení zboží bez poplatku.">
</div>
<div class="field-group">
    <label>Parameters</label>
    <input type="hidden" name="original__auto_parameters_44" value="Parameters">
    <input type="text" name="field__auto_parameters_44" placeholder="Parameters">
</div>
<div class="field-group">
    <label>Width</label>
    <input type="hidden" name="original__auto_width_46" value="Width">
    <input type="text" name="field__auto_width_46" placeholder="Width">
</div>
<div class="field-group">
    <label>Height</label>
    <input type="hidden" name="original__auto_height_49" value="Height">
    <input type="text" name="field__auto_height_49" placeholder="Height">
</div>
<div class="field-group">
    <label>Length</label>
    <input type="hidden" name="original__auto_length_52" value="Length">
    <input type="text" name="field__auto_length_52" placeholder="Length">
</div>
<div class="field-group">
    <label>Weight</label>
    <input type="hidden" name="original__auto_weight_55" value="Weight">
    <input type="text" name="field__auto_weight_55" placeholder="Weight">
</div>
<div class="field-group">
    <label>Material</label>
    <input type="hidden" name="original__auto_material_58" value="Material">
    <input type="text" name="field__auto_material_58" placeholder="Material">
</div>
<div class="field-group">
    <label>Color</label>
    <input type="hidden" name="original__auto_color_61" value="Color">
    <input type="text" name="field__auto_color_61" placeholder="Color">
</div>
<div class="field-group">
    <label>Size</label>
    <input type="hidden" name="original__auto_size_64" value="Size">
    <input type="text" name="field__auto_size_64" placeholder="Size">
</div>
<div class="field-group">
    <label>Discount</label>
    <input type="hidden" name="original__auto_discount_67" value="Discount">
    <input type="text" name="field__auto_discount_67" placeholder="Discount">
</div>
<div class="field-group">
    <label>Description</label>
    <input type="hidden" name="original__auto_description_73" value="Description">
    <input type="text" name="field__auto_description_73" placeholder="Description">
</div>
<input type="hidden" name="original__template_extends" value="eyUgZXh0ZW5kcyAnZXNob3BfYmFzZS5odG1sLnR3aWcnICV9">
<input type="hidden" name="field__template_extends" value="eyUgZXh0ZW5kcyAnbG9jYWxlL2N6L2VzaG9wX2Jhc2UuaHRtbC50d2lnJyAlfQ==">


    <button type="submit">Generate Translated File</button>
</form>
{% endblock %}