{% extends 'base.html.twig' %}

{% block title %}Translate – Auto Generated{% endblock %}

{% block body %}
<form method="post" action="{{ path('translation_submit') }}">
    <input type="hidden" name="original_path" value="employee/employee_not_logged.html.twig">
    <input type="hidden" name="target_language" value="{{ lang }}">

    <div class="field-group">
        <label>You are not logged</label>
        <input type="hidden" name="original__auto_you_are_not_logged_0" value="You are not logged">
        <input type="text" name="field__auto_you_are_not_logged_0" placeholder="You are not logged">
    </div>
    <div class="field-group">
        <label>You are not logged. Please</label>
        <input type="hidden" name="original__auto_you_are_not_logged_please_1" value="You are not logged. Please">
        <input type="text" name="field__auto_you_are_not_logged_please_1" placeholder="You are not logged. Please">
    </div>
    <div class="field-group">
        <label>Login</label>
        <input type="hidden" name="original__auto_login_2" value="Login">
        <input type="text" name="field__auto_login_2" placeholder="Login">
    </div>

    <button type="submit">Generate Translated File</button>
</form>
{% endblock %}