{% extends 'base.html.twig' %}

{% block title %}Translate – Auto Generated{% endblock %}

{% block body %}
<form method="post" action="{{ path('translation_submit') }}">
    <input type="hidden" name="original_path" value="product/product_edit.html.twig">
    <input type="hidden" name="target_language" value="{{ lang }}">

    <div class="field-group">
        <label>Version</label>
        <input type="hidden" name="original__auto_version_0" value="Version">
        <input type="text" name="field__auto_version_0" placeholder="Version">
    </div>
    <div class="field-group">
        <label>SKU:</label>
        <input type="hidden" name="original__auto_sku__2" value="SKU:">
        <input type="text" name="field__auto_sku__2" placeholder="SKU:">
    </div>
    <div class="field-group">
        <label>Currency:</label>
        <input type="hidden" name="original__auto_currency__3" value="Currency:">
        <input type="text" name="field__auto_currency__3" placeholder="Currency:">
    </div>
    <div class="field-group">
        <label>Product List</label>
        <input type="hidden" name="original__auto_product_list_4" value="Product List">
        <input type="text" name="field__auto_product_list_4" placeholder="Product List">
    </div>
    <div class="field-group">
        <label>Product Edit</label>
        <input type="hidden" name="original__auto_product_edit_5" value="Product Edit">
        <input type="text" name="field__auto_product_edit_5" placeholder="Product Edit">
    </div>
    <div class="field-group">
        <label>Choose Version:</label>
        <input type="hidden" name="original__auto_choose_version__6" value="Choose Version:">
        <input type="text" name="field__auto_choose_version__6" placeholder="Choose Version:">
    </div>
    <div class="field-group">
        <label>Name</label>
        <input type="hidden" name="original__auto_name_10" value="Name">
        <input type="text" name="field__auto_name_10" placeholder="Name">
    </div>
    <div class="field-group">
        <label>Added time:</label>
        <input type="hidden" name="original__auto_added_time__11" value="Added time:">
        <input type="text" name="field__auto_added_time__11" placeholder="Added time:">
    </div>
    <div class="field-group">
        <label>Choose Category:</label>
        <input type="hidden" name="original__auto_choose_category__14" value="Choose Category:">
        <input type="text" name="field__auto_choose_category__14" placeholder="Choose Category:">
    </div>
    <div class="field-group">
        <label>Description</label>
        <input type="hidden" name="original__auto_description_17" value="Description">
        <input type="text" name="field__auto_description_17" placeholder="Description">
    </div>
    <div class="field-group">
        <label>Number in stock</label>
        <input type="hidden" name="original__auto_number_in_stock_19" value="Number in stock">
        <input type="text" name="field__auto_number_in_stock_19" placeholder="Number in stock">
    </div>
    <div class="field-group">
        <label>Images</label>
        <input type="hidden" name="original__auto_images_20" value="Images">
        <input type="text" name="field__auto_images_20" placeholder="Images">
    </div>
    <div class="field-group">
        <label>Delete Image</label>
        <input type="hidden" name="original__auto_delete_image_22" value="Delete Image">
        <input type="text" name="field__auto_delete_image_22" placeholder="Delete Image">
    </div>
    <div class="field-group">
        <label>No images uploaded yet</label>
        <input type="hidden" name="original__auto_no_images_uploaded_yet_24" value="No images uploaded yet">
        <input type="text" name="field__auto_no_images_uploaded_yet_24" placeholder="No images uploaded yet">
    </div>
    <div class="field-group">
        <label>Choose Size:</label>
        <input type="hidden" name="original__auto_choose_size__26" value="Choose Size:">
        <input type="text" name="field__auto_choose_size__26" placeholder="Choose Size:">
    </div>
    <div class="field-group">
        <label>None</label>
        <input type="hidden" name="original__auto_none_27" value="None">
        <input type="text" name="field__auto_none_27" placeholder="None">
    </div>
    <div class="field-group">
        <label>Width</label>
        <input type="hidden" name="original__auto_width_30" value="Width">
        <input type="text" name="field__auto_width_30" placeholder="Width">
    </div>
    <div class="field-group">
        <label>Height</label>
        <input type="hidden" name="original__auto_height_31" value="Height">
        <input type="text" name="field__auto_height_31" placeholder="Height">
    </div>
    <div class="field-group">
        <label>Length</label>
        <input type="hidden" name="original__auto_length_32" value="Length">
        <input type="text" name="field__auto_length_32" placeholder="Length">
    </div>
    <div class="field-group">
        <label>Weight</label>
        <input type="hidden" name="original__auto_weight_33" value="Weight">
        <input type="text" name="field__auto_weight_33" placeholder="Weight">
    </div>
    <div class="field-group">
        <label>Material</label>
        <input type="hidden" name="original__auto_material_34" value="Material">
        <input type="text" name="field__auto_material_34" placeholder="Material">
    </div>
    <div class="field-group">
        <label>Choose Color:</label>
        <input type="hidden" name="original__auto_choose_color__35" value="Choose Color:">
        <input type="text" name="field__auto_choose_color__35" placeholder="Choose Color:">
    </div>
    <div class="field-group">
        <label>Extra Attributes:</label>
        <input type="hidden" name="original__auto_extra_attributes__38" value="Extra Attributes:">
        <input type="text" name="field__auto_extra_attributes__38" placeholder="Extra Attributes:">
    </div>
    <div class="field-group">
        <label>Delete</label>
        <input type="hidden" name="original__auto_delete_40" value="Delete">
        <input type="text" name="field__auto_delete_40" placeholder="Delete">
    </div>
    <div class="field-group">
        <label>Add Attribute</label>
        <input type="hidden" name="original__auto_add_attribute_41" value="Add Attribute">
        <input type="text" name="field__auto_add_attribute_41" placeholder="Add Attribute">
    </div>
    <div class="field-group">
        <label>Price</label>
        <input type="hidden" name="original__auto_price_42" value="Price">
        <input type="text" name="field__auto_price_42" placeholder="Price">
    </div>
    <div class="field-group">
        <label>Discount</label>
        <input type="hidden" name="original__auto_discount_44" value="Discount">
        <input type="text" name="field__auto_discount_44" placeholder="Discount">
    </div>
    <div class="field-group">
        <label>Tax Rate (%)</label>
        <input type="hidden" name="original__auto_tax_rate__45" value="Tax Rate (%)">
        <input type="text" name="field__auto_tax_rate__45" placeholder="Tax Rate (%)">
    </div>
    <div class="field-group">
        <label>Hide Product</label>
        <input type="hidden" name="original__auto_hide_product_46" value="Hide Product">
        <input type="text" name="field__auto_hide_product_46" placeholder="Hide Product">
    </div>
    <div class="field-group">
        <label>Save</label>
        <input type="hidden" name="original__auto_save_47" value="Save">
        <input type="text" name="field__auto_save_47" placeholder="Save">
    </div>
    <div class="field-group">
        <label>Back to products</label>
        <input type="hidden" name="original__auto_back_to_products_48" value="Back to products">
        <input type="text" name="field__auto_back_to_products_48" placeholder="Back to products">
    </div>

    <button type="submit">Generate Translated File</button>
</form>
{% endblock %}