{% extends 'base.html.twig' %}

{% block title %}Translate – Auto Generated{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('../assets/styles/translation_form.css') }}">

<form method="post" action="{{ path('translation_submit') }}">
    <input type="hidden" name="_token" value="{{ csrf_token('translation_submit') }}">
    <input type="hidden" name="original_path" value="product/product_list.html.twig">
    <input type="hidden" name="target_language" value="{{ lang }}">

<div class="field-group">
    <label>Product List</label>
    <input type="hidden" name="original__auto_product_list_1" value="Product List">
    <input type="text" name="field__auto_product_list_1" placeholder="Product List">
</div>
<div class="field-group">
    <label>Search</label>
    <input type="hidden" name="original__auto_search_2" value="Search">
    <input type="text" name="field__auto_search_2" placeholder="Search">
</div>
<div class="field-group">
    <label>Previous</label>
    <input type="hidden" name="original__auto_previous_4" value="Previous">
    <input type="text" name="field__auto_previous_4" placeholder="Previous">
</div>
<div class="field-group">
    <label>Next</label>
    <input type="hidden" name="original__auto_next_5" value="Next">
    <input type="text" name="field__auto_next_5" placeholder="Next">
</div>
<div class="field-group">
    <label>Page Count</label>
    <input type="hidden" name="original__auto_page_count_6" value="Page Count">
    <input type="text" name="field__auto_page_count_6" placeholder="Page Count">
</div>
<div class="field-group">
    <label>Create Product</label>
    <input type="hidden" name="original__auto_create_product_7" value="Create Product">
    <input type="text" name="field__auto_create_product_7" placeholder="Create Product">
</div>
<div class="field-group">
    <label>Add Category</label>
    <input type="hidden" name="original__auto_add_category_8" value="Add Category">
    <input type="text" name="field__auto_add_category_8" placeholder="Add Category">
</div>
<div class="field-group">
    <label>Modify Category</label>
    <input type="hidden" name="original__auto_modify_category_9" value="Modify Category">
    <input type="text" name="field__auto_modify_category_9" placeholder="Modify Category">
</div>
<div class="field-group">
    <label>Add Color</label>
    <input type="hidden" name="original__auto_add_color_10" value="Add Color">
    <input type="text" name="field__auto_add_color_10" placeholder="Add Color">
</div>
<div class="field-group">
    <label>Modify Color</label>
    <input type="hidden" name="original__auto_modify_color_11" value="Modify Color">
    <input type="text" name="field__auto_modify_color_11" placeholder="Modify Color">
</div>
<div class="field-group">
    <label>Add Size</label>
    <input type="hidden" name="original__auto_add_size_12" value="Add Size">
    <input type="text" name="field__auto_add_size_12" placeholder="Add Size">
</div>
<div class="field-group">
    <label>Modify Size</label>
    <input type="hidden" name="original__auto_modify_size_13" value="Modify Size">
    <input type="text" name="field__auto_modify_size_13" placeholder="Modify Size">
</div>
<div class="field-group">
    <label>Name</label>
    <input type="hidden" name="original__auto_name_14" value="Name">
    <input type="text" name="field__auto_name_14" placeholder="Name">
</div>
<div class="field-group">
    <label>SKU</label>
    <input type="hidden" name="original__auto_sku_15" value="SKU">
    <input type="text" name="field__auto_sku_15" placeholder="SKU">
</div>
<div class="field-group">
    <label>Number in stock</label>
    <input type="hidden" name="original__auto_number_in_stock_16" value="Number in stock">
    <input type="text" name="field__auto_number_in_stock_16" placeholder="Number in stock">
</div>
<div class="field-group">
    <label>Price in CZK</label>
    <input type="hidden" name="original__auto_price_in_czk_17" value="Price in CZK">
    <input type="text" name="field__auto_price_in_czk_17" placeholder="Price in CZK">
</div>
<div class="field-group">
    <label>Create</label>
    <input type="hidden" name="original__auto_create_18" value="Create">
    <input type="text" name="field__auto_create_18" placeholder="Create">
</div>
<div class="field-group">
    <label>Cancel</label>
    <input type="hidden" name="original__auto_cancel_19" value="Cancel">
    <input type="text" name="field__auto_cancel_19" placeholder="Cancel">
</div>
<div class="field-group">
    <label>Category Name</label>
    <input type="hidden" name="original__auto_category_name_20" value="Category Name">
    <input type="text" name="field__auto_category_name_20" placeholder="Category Name">
</div>
<div class="field-group">
    <label>Select Category</label>
    <input type="hidden" name="original__auto_select_category_21" value="Select Category">
    <input type="text" name="field__auto_select_category_21" placeholder="Select Category">
</div>
<div class="field-group">
    <label>New Name</label>
    <input type="hidden" name="original__auto_new_name_25" value="New Name">
    <input type="text" name="field__auto_new_name_25" placeholder="New Name">
</div>
<div class="field-group">
    <label>Modify</label>
    <input type="hidden" name="original__auto_modify_26" value="Modify">
    <input type="text" name="field__auto_modify_26" placeholder="Modify">
</div>
<div class="field-group">
    <label>Color Name</label>
    <input type="hidden" name="original__auto_color_name_27" value="Color Name">
    <input type="text" name="field__auto_color_name_27" placeholder="Color Name">
</div>
<div class="field-group">
    <label>Color Hex</label>
    <input type="hidden" name="original__auto_color_hex_28" value="Color Hex">
    <input type="text" name="field__auto_color_hex_28" placeholder="Color Hex">
</div>
<div class="field-group">
    <label>Select Color</label>
    <input type="hidden" name="original__auto_select_color_29" value="Select Color">
    <input type="text" name="field__auto_select_color_29" placeholder="Select Color">
</div>
<div class="field-group">
    <label>New Color</label>
    <input type="hidden" name="original__auto_new_color_32" value="New Color">
    <input type="text" name="field__auto_new_color_32" placeholder="New Color">
</div>
<div class="field-group">
    <label>Size Name</label>
    <input type="hidden" name="original__auto_size_name_33" value="Size Name">
    <input type="text" name="field__auto_size_name_33" placeholder="Size Name">
</div>
<div class="field-group">
    <label>Select Size</label>
    <input type="hidden" name="original__auto_select_size_34" value="Select Size">
    <input type="text" name="field__auto_select_size_34" placeholder="Select Size">
</div>
<div class="field-group">
    <label>New Size Name</label>
    <input type="hidden" name="original__auto_new_size_name_37" value="New Size Name">
    <input type="text" name="field__auto_new_size_name_37" placeholder="New Size Name">
</div>


    <button type="submit">Generate Translated File</button>
</form>
{% endblock %}