#order-successful-info-block {
    width: 50%; /* 设置合适的宽度 */
    margin: 50px auto; /* 让整个块水平居中 */
    padding: 20px; /* 增加内边距 */
    text-align: center; /* 让文本内容居中 */
    border: 2px solid #ddd; /* 添加边框，颜色为浅灰色 */
    border-radius: 10px; /* 圆角边框 */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* 添加轻微阴影 */
    background-color: #f9f9f9; /* 背景颜色 */
}

#order-successful-info-block h2 {
    color: #2c3e50; /* 标题颜色 */
    font-size: 24px;
    margin-bottom: 10px;
}

#order-successful-info-block p {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
}

#order-successful-info-block a {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 10px;
}